* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App{
  background-image: linear-gradient(to bottom right, #ff70A6, #ff9770, #ffd670, #e9ff70);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

}

.auth{
  background-image: linear-gradient(to bottom right, #ff70A6, #ff9770, #ffd670, #e9ff70);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 50vw;
  flex-flow: column wrap;
}

.input-container{
width: 10vw;
display: flex;
flex-flow: column wrap;
justify-content: flex-end;
}

.button-container{
  padding: 15px;
  
}

.login-reg-buttons{

  background-color: #403D39;
  color: #f2f2f2;
  border: none;
  width: 60px;
  height: 30px;
  margin: 10px

}

.user-pass-input{
  width: 10vw;
  display: flex;
  
  border: none;
}

.user-pass-p{
  color: white;
}

label{
  float:left;
  width: 10vw;
  margin-right: 10px;
}

.helo-h1{
  color: #f2f2f2;
  font-size: 50px;
}

.navbar{
  background-color: blue;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 7vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #ff70A6, #ff9770, #ffd670);
  display: flex;
  justify-content: center;
  
  
 
}
ul{
  list-style-type: none;
}

.home-img{
  width: 35px;
  margin-bottom: 30px;
  
}

.post-img{
  width: 35px;
  margin-bottom: 30px;
}

.logout-img{
  width: 35px;
  position: absolute;
  bottom: 25px;
}

.dashboard{
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
}

.dash-head{
  display: flex;
  justify-content: center;
}